:root {
    --primary: #b6895b;
    --bg: black;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
}

body {
    font-family: 'oswald' ,Arial, Helvetica, sans-serif;
    background-color: var(--bg);
    color: white;
    min-height: 2000px;
    
}

/* navbar */
.navbar {
        display: flex;
        justify-content: space-between;
        align-content: center;
        padding: 1.4rem 7%;
        background-color: rgba(1, 1, 1, 0.8);
        border-bottom: 1px solid #5a4632;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 9999;
}

.navbar .logo-navbar {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}


.navbar .navbar-navigasi a {
    color: white;
    display: inline-block;
    font-size: 1.1rem;
    margin: 0 1rem;
}

.navbar .navbar-navigasi a:hover {
    color: var(--primary);
}

.navbar .navbar-navigasi a::after {
    content: '';
    display: block;
    padding-bottom: 0.5rem;
    border-bottom: 0.1rem solid var(--primary);
    transform: scaleX(0);
    transition: 0.2s linear;
}

.navbar .navbar-navigasi a:hover::after {
    transform: scaleX(1);
}

/* Hero Section Start */
.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    background-image: url('../assets/header-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

.hero::after {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 15%;
    bottom: 0;
    background: linear-gradient(0deg, rgba(138, 138, 158) 10%, rgba(255, 255, 255, 0) 50% );
}

.hero .content {
    padding: 1.4rem 7%;
    max-width: 60rem;

}

.hero .content h2 {
    font-size: 5em;
    color: #fff;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

.hero .content h1 {
    padding-top: 2rem;
}

.hero .content p {
    font-size: 1rem;
    margin-top: 1rem;
    max-width: 25rem;
    line-height: 1.4;
    font-weight: 100;
    text-shadow: 1px 1px 3px rgba(1, 1, 3, 0.5);
}

#samping {
        list-style-position: inside;
        position: relative;
        right: 40px;
}

/* Hero section end */

/* Hasil Section */

.card {
    margin-top: 1rem;
    margin-right: 1rem;
    display: inline-block;
    padding: 1rem 3rem;
    font-size: 1.4rem;
    font-weight: 100;
    color: white;
    background-color: rgba(78, 77, 74, 0.8);
    box-shadow: 6px 5px 3px rgba(1, 1, 3, 0.5);
}

#hasil {
    padding-left: 10rem;
    padding-top: 2rem;
}

.hasil h2 {
    font-size: 2.6rem;
}






/* Media Queries */

/* Laptop */
@media (max-width: 1366px) {
    html {
        font-size: 75%;
    }

}

/* Handphone */
@media (max-width: 450px) {
    html {
        font-size: 55%;
    }

}

/* tablet */
@media (max-width: 768px) {
    html {
        font-size: 62.5%;
    }

}